.ql-clients {
  width: 100%;
  margin: 0;
  padding: 5em 0 6em 0;
  background-color: #5E6C8E;
  color: #eee;
}

.ql-clients .ql-client-image {
  padding-top: 3em;
}

.ql-clients h2, .ql-clients h3 {
  color: #eee;
}

.ql-clients ul {
  padding-left: 80px;
}

.ql-clients li {
  font-size: 160%;
  margin: 1.5em 0;
}

.ql-clients .ql-narrow {
  padding: 0 160px;
}