.ql-contact {
  padding: 5em 0;
  background-color: white;
}

.ql-contact h4 {
  font-weight: 300;
  color: #888;
  margin: 0 0 0.4em 0;
}

.ql-contact dl, .ql-contact p {
  color: #595959;
}

.ql-contact p {
  padding-left: 5em;
}

.ql-contact .ql-contact-text {
  padding: 1.5em 0 1.5em 23.5em;
}

.ql-contact .ql-bold {
  font-weight: 600;
}
