footer {
  width: 100%;
}

footer .bot {
    background-color: #F0F0F0;
    color: #222;
    font-size: 130%;
    text-align: center;
    width: 100%;
}

footer .bot p {
    font-size: 100%;
    margin: 0;
    padding: 22px 0;
    display: block;
    text-align: center;
}

footer .bot a {
    color: #222;
}

footer .bot .container .inner-container {
    position: relative;
}