#ql-navbar {
  font-family: 'Julius Sans One', sans-serif; 
  color: #0d0d0d;
}

.navbar-header {
  display: inline-block;
}

.navbar-nav {
  text-transform: uppercase;
}

#ql-navbar .navbar-brand {
    font-style: italic;
    font-weight: bold;
    font-size: 2em; 
}

#ql-navbar h2 {
    font-size: 1.2em;
    color: #666666;
}