.navbar {
  font-family: 'Julius Sans One', sans-serif; 
  margin-bottom: none;
  text-transform: uppercase;
}

.navbar-default{
  background-color: #687699;
}

.container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.ql-navbar-padding {
  padding: 0.5em 0;
}

.ql-brand-and-items-padding {
  padding-top: 0.15em;
}

@media (max-width: 767px) {
    .navbar-default{
        height: 6em;
    }
    .ql-navbar-padding {
        padding: 0;
    }
    .navbar-brand{
        padding: 0.6em 0 0 0.5em;
    }
    .navbar-toggle{
        /*margin-right: 3em;*/
    }
    .nav > li {
        padding-left: 1em;
    }
}

/*--------------*/
/* NAVBAR BRAND */
/*--------------*/
.ql-navbar-brand {
  letter-spacing: -0.04em;
}

.navbar-default .navbar-brand {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    color: #f2f2f2;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand>.active {
  color: #f2f2f2;
}

.ql-lang-nav-items {
    /*padding-top: 0.7em;*/
}

/*-----------------*/
/* NAVBAR COLLAPSE */
/*-----------------*/
.navbar-collapse.collapsing{
    background-color: #454545;
    /*padding: 0;*/
}
.navbar-collapse.in{
    background-color: #454545;
    /*padding: 0;*/
}

.navbar-toggle {
    color: #f2f2f2;
}

.navbar-toggle .fa {
    font-size: 200%;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #a4acc1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d1d5e0;
    color: #687699;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: orange;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: pink;
    }
}

/*--------------*/
/* NAVBAR ITEMS */
/*--------------*/
.navbar-default .navbar-nav>li>a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a{
  color: #f2f2f2;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #d8d8d8;
}

/*####### LIGHT BLUE ########*/
/*----------------------*/
/* NAVBAR ITEMS SELECTED*/
/*----------------------*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #d1d5e0;
    background-color: transparent;
    font-weight: 300;
}

/*-------------------------*/
/* NAVBAR LANG ITEMS ACTIVE*/
/*-------------------------*/
.navbar-default .navbar-nav.ql-lang-nav-items>.active>a {
  background-color: #d1d5e0;
  border: 2px solid #a4acc1;
  border-radius: 4px;
  color: #687699;
}







