.ql-presentation-container {
  width: 100%;
  background-color: #FBFBFC;
  border-bottom: 1px solid #E1E1E1;
}

.ql-text-container {
  align-self: center;
  text-align: center;
}

.ql-presentation-container h1 {
  font-family: 'Special Elite', sans-serif;
  margin: 30px 0;
  color: #777;
  font-size: 20px;
}