<div id="about" class="container ql-about">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <h2 tkey="about-title">English-French and French-English Translation Solutions</h2>
        <h3 tkey="about-subtitle">For the legal and Human Resources communities</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">

      <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <img class="img-circle img-responsive img-center ql-image" src="images/audrey_profile_pic_crp.png" alt="Adurey">
        <img class="img-responsive ql-image" src="images/NCTA Member Use Logo-web.jpg" alt="NTCA Member">
      </div> <!-- Display the pictures first on XS format only -->

      <div class="col-md-5 col-sm-7 text-justify ql-narrow" itemscope itemtype="http://quidlingua.com/BusinessFunction">
        <p tkey="about-paragraph-1" itemprop="description">Quid Lingua is a French-English and English-French translation service provided by Audrey Pouligny, a legal professional with an in-depth knowledge of both civil law and common law.</p>

        <p tkey="about-paragraph-2">Audrey is a French and American dual citizen. She holds Master’s Degrees in private civil law, international employment and labor law, as well as in common law, comparative law and global mobility, from the Universities of Panthéon-Assas Paris II, Lumière Lyon II, and Descartes Paris V.</p>
      </div>

      <div class="col-md-2 col-sm-5 hidden-xs">
        <img class="img-circle img-responsive img-center ql-image" src="images/audrey_profile_pic_crp.png" alt="Adurey">
        <img class="img-responsive ql-image" src="images/NCTA Member Use Logo-web.jpg" alt="NTCA Member">
      </div> <!-- Display the pictures in the middle if not in XS format -->

      <div class="col-md-5 col-sm-12 text-justify ql-narrow">
        <p tkey="about-paragraph-3">She is licensed to practice law in France and has extensive litigation experience in both France and the U.S., spanning multiple practice areas. She has also counseled international clients on a wide array of issues concerning employment law and Human Resources.</p>

        <p tkey="about-paragraph-4">Audrey is a member of the Northern California Translators Association (NCTA). She prides herself on offering intelligent translations based on genuine legal and HR know-how.</p>
      </div>
    <div>
  </div>
</div>