<div id="about" class="container ql-about">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <h2 tkey="about-title">&nbsp;</h2>
        <h3 tkey="about-subtitle">&nbsp;</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">

      <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <img class="img-circle img-responsive img-center ql-image" src="images/audrey_profile_pic_crp.png" alt="Adurey">
        <img class="img-responsive ql-image" src="images/NCTA Member Use Logo-web.jpg" alt="NTCA Member">
      </div> <!-- Display the pictures first on XS format only -->

      <div class="col-md-5 col-sm-7 text-justify ql-narrow">
        <p tkey="about-paragraph-1">&nbsp;</p>

        <p tkey="about-paragraph-2">&nbsp;</p>
      </div>

      <div class="col-md-2 col-sm-5 hidden-xs">
        <img class="img-circle img-responsive img-center ql-image" src="images/audrey_profile_pic_crp.png" alt="Adurey">
        <img class="img-responsive ql-image" src="images/NCTA Member Use Logo-web.jpg" alt="NTCA Member">
      </div> <!-- Display the pictures in the middle if not in XS format -->

      <div class="col-md-5 col-sm-12 text-justify ql-narrow">
        <p tkey="about-paragraph-3">&nbsp;</p>

        <p tkey="about-paragraph-4">&nbsp;</p>
      </div>
    <div>
  </div>
</div>