<div id="contact" class="container ql-contact">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 text-center">
        <h2>Contact</h2>
        <h4>Request a quote from Quid Lingua for your next translation.</h4>
        <h4>Project scope, timing and terms can be customized to meet your needs.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 separator">
      </div>    
    </div>

    <div class="row">

      <div class="col-lg-7 col-sm-6 text-left ql-contact-text">
        <p>Contact Audrey directly:</p>
        <div class="ql-contact-info">
          <p class="ql-bold"><span class="fa fa-phone"></span>&nbsp; By phone:</p>
          <p>+1-415- 867-7864</br>GMT – 08:00 – Pacific Standard Time</p>
          <p class="ql-bold"><span class="fa fa-paper-plane"></span>&nbsp; By email:</p>
          <p><a href="mailto:audrey@quidlingua.com">audrey@quidlingua.com</a></p>
        </div>
        
        <!-- <dl class="dl-horizontal">
          <dt>By phone <span class="fa fa-phone"></span></dt>
          <dd>+1-415- 867-7864</br>GMT – 08:00 – Pacific Standard Time</dd>
          <dt>By email <span class="fa fa-paper-plane"></span></dt>
          <dd>audrey@quidlingua.com</dd>
        </dl> -->
      </div>

      <div class="col-lg-5 col-sm-6">
        <img class="img-circle img-responsive pull-left" src="images/126_1transamera_two_crp_200.jpg" alt="contact">
      </div>

    </div>

  </div>
</div>