<div id="clients" class="container ql-clients">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 text-center">
        <h2 tkey="clients-title">&nbsp;</h2>
        <h3 tkey="clients-subtitle">&nbsp;</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">

      <div class="col-lg-5 col-sm-6">
        <img class="img-circle img-responsive pull-right" src="images/clients_crp.JPG" alt="clients"/>
      </div>

      <div class="col-lg-7 col-sm-6 text-left">
        <ul>
          <li tkey="clients-item-law">&nbsp;</li>
          <li tkey="clients-item-hr">&nbsp;</li>
          <li tkey="clients-item-global">&nbsp;</li>
          <li tkey="clients-item-i18n">&nbsp;</li>
          <li tkey="clients-item-individuals">&nbsp;</li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3  tkey="clients-catchphrase" class="ql-narrow">&nbsp;</h3>
      </div>
    </div>

  </div>
</div>