<div id="contact" class="container ql-contact" itemscope itemtype="http://quidlingua.com/Organization">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <h2 tkey="contact-title">&nbsp;</h2>
        <h4 tkey="contact-subtitle1">&nbsp;</h4>
        <h4 tkey="contact-subtitle2">&nbsp;</h4>
      </div>
    </div> <!-- First row -->

    <div class="row">
      <div class="col-md-12 ql-separator"></div>
    </div> <!-- separator -->

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-3 text-left ql-contact-text">
        <p tkey="contact-audrey"></p>
        <div class="ql-contact-info">
          <p class="ql-bold">
            <span class="fa fa-phone"></span>&nbsp;&nbsp;<span tkey="contact-by-phone" itemprop="telephone">&nbsp;</span></p>
          <p>
            <span tkey="contact-number">&nbsp;</span>
            <br/>
            <span tkey="contact-timezone">&nbsp;</span>
          </p>
          <p class="ql-bold">
            <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;<span tkey="contact-by-email">&nbsp;</span>
          </p>
          <p>
            <a href="mailto:audrey@quidlingua.com"><span itemprop="email">audrey@quidlingua.com</span></a>
          </p>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-1 col-md-5 hidden-xs">
        <img class="img-circle img-responsive pull-left" src="images/126_1transamera_two_crp_200.jpg" alt="contact">
      </div>

    </div> <!-- Second row -->

  </div>
</div>