<div id="clients" class="container ql-clients-container">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 text-center">
        <h2>Clients</h2>
        <!-- <h3>English-French and French-English</h3> -->
        <h3>Direct contact with a translator</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 separator">
      </div>
    </div>

    <div class="row">

      <div class="col-lg-5 col-sm-6">
        <img class="img-circle img-responsive pull-right" src="images/clients_crp.JPG" alt="clients">
      </div>

      <div class="col-lg-7 col-sm-6 text-left">
        <ul>
          <li>Law Firms</li>
          <li>Human Resources Departments</li>
          <li>Global Mobility Providers</li>
          <li>International Businesses and Organizations</li>
          <li>Individuals</li>
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 separator">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="ql-narrow">Build a more direct and practical relationship with a translator who understands your legal and HR needs.</h3>
      </div>
    </div>

  </div>
</div>