<div id="mainpage" ng-app="quidlingua-mainpage" class="container">
  <div class="jumbotron">
    <h2 tkey="subtitle"></h2>
    <p>We provide solutions for your business.</p>
    <p><a class="btn btn-primary btn-lg" href="#quote" role="button">Get a quote</a></p>
  </div>

  <!-- difficulties -->
  <div name="difficulties">
    <h3 tkey="title-difficulties"></h3>
    <p>
      Donec nec eleifend dolor, eu tincidunt erat. Aenean dapibus turpis at efficitur gravida. Nunc pellentesque in libero nec consectetur. Quisque eu dui sodales, aliquam nunc nec, auctor diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc dictum eleifend consequat. Sed molestie id velit sed scelerisque. Aenean ut euismod dolor. Phasellus id justo vulputate neque egestas aliquam.
    </p>
  </div>

  <!-- services -->
  <div name="services">
    <h3 tkey="title-services"></h3>
    <p>
      Vivamus vitae turpis ullamcorper, luctus lacus at, cursus mauris. Nam nec commodo orci. Morbi in felis venenatis, facilisis tortor in, gravida arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vehicula sem sed nibh sollicitudin tincidunt. Nam commodo mattis arcu, eget dapibus turpis. Nulla et elit ipsum.
    </p>
  </div>

  <!-- our team -->
  <!-- TODO: On-going test with the translation logic for this section -->
  <ql-team tkey="title-team"></ql-team>
  <!-- <div name="team">
     <h3 tkey="title-team"></h3>
     <p>
      TEAM section: In ut lectus magna. Aliquam erat volutpat. Etiam rutrum mollis justo condimentum auctor. Sed aliquam tincidunt ante, ac aliquam libero tincidunt ac. Integer vel turpis ut nisl laoreet viverra. Integer placerat ante pretium, dapibus leo ut, interdum erat. Nam porttitor nunc eu neque aliquam, ac porta sem tempus. Suspendisse potenti. Suspendisse a diam eu turpis tristique mattis ut eget nunc. Quisque sed sem nunc. Quisque id arcu dolor. In a posuere ante. Aliquam et augue mauris.
    </p>
  </div> -->

  <!-- contact -->
  <div id="contact" name="contact">
    <h3 tkey="title-contact"></h3>
      <div>
        <h4 tkey="key-test"></h4>
      </div>
    <p>
      Curabitur ut finibus ex, non porta tellus. Donec ligula quam, venenatis nec posuere non, rutrum sed risus. Etiam sagittis, est ac vulputate porttitor, massa nisl fermentum augue, mattis sollicitudin ante risus vitae augue. Donec aliquam sapien sem, sit amet maximus lacus egestas in. Nulla dignissim nibh in leo convallis porta. Phasellus eget risus justo. Maecenas quis arcu velit.
    </p>
  </div>
  
  <!-- TODO: init() on title-quote does not work if embedded in ql-quote.html -->
  <ql-quote></ql-quote>
  <div id="quote" name="quote">
    <h3 tkey="title-quote"></h3>
    <quote>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque magna sed enim porttitor interdum. Phasellus turpis massa, auctor ut lectus eget, accumsan lacinia nulla. Nulla facilisi. Pellentesque nec mi laoreet metus tempus volutpat. Sed a velit vehicula velit eleifend accumsan et sed est. Nunc condimentum, quam eget consectetur porttitor, tortor est congue eros, faucibus consectetur sem felis eget arcu. Sed ornare imperdiet eros vel sodales. In et turpis sit amet orci lacinia tincidunt. Pellentesque eros mi, blandit id blandit sed, vestibulum ac sapien. Vivamus tristique posuere sem in volutpat. Donec sed erat enim. Donec vel nibh sit amet lectus tempus semper vel non mauris. Mauris convallis odio id sapien sodales gravida. Morbi tellus elit, cursus vel est eu, pretium varius augue.
    </quote>
  </div>
</div>