<!-- TODO: init() on title-quote does not work if this code is called from ql-mainpage.html -->
<!-- <div name="quote">
  <h3 tkey="title-quote"></h3>
  <quote>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque magna sed enim porttitor interdum. Phasellus turpis massa, auctor ut lectus eget, accumsan lacinia nulla. Nulla facilisi. Pellentesque nec mi laoreet metus tempus volutpat. Sed a velit vehicula velit eleifend accumsan et sed est. Nunc condimentum, quam eget consectetur porttitor, tortor est congue eros, faucibus consectetur sem felis eget arcu. Sed ornare imperdiet eros vel sodales. In et turpis sit amet orci lacinia tincidunt. Pellentesque eros mi, blandit id blandit sed, vestibulum ac sapien. Vivamus tristique posuere sem in volutpat. Donec sed erat enim. Donec vel nibh sit amet lectus tempus semper vel non mauris. Mauris convallis odio id sapien sodales gravida. Morbi tellus elit, cursus vel est eu, pretium varius augue.
  </quote>
</div> -->