<div id="services" class="container-fluid ql-services">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 text-center">
        <h2 tkey="services-title">&nbsp;</h2>
        <h3 tkey="services-subtitle">&nbsp;</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item">
        <span class="fa fa-globe"></span>
        <div class="service-text">
          <h4 tkey="services-item-translation-title">&nbsp;</h4>
          <p tkey="services-item-translation-text">&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-pencil"></span>
        <div class="service-text">
          <h4 tkey="services-item-editing-title">&nbsp;</h4>
          <p tkey="services-item-editing-text">&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-check-square-o">&nbsp;</span>
        <div class="service-text">
          <h4 tkey="services-item-proofreading-title">&nbsp;</h4>
          <p tkey="services-item-proofreading-text">&nbsp;</p>
        </div>
      </div>
    </div> <!-- First row -->

    <div class="row">
      <div class="col-md-12 ql-separator">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item">
        <span class="fa fa-eye"></span>
        <div class="service-text">
          <h4 tkey="services-item-doc-review-title">&nbsp;</h4>
          <p tkey="services-item-doc-review-text">&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-book"></span>
        <div class="service-text">
          <h4 tkey="services-item-glossary-title">&nbsp;</h4>
          <p tkey="services-item-glossary-text">&nbsp;</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-heart"></span>
        <div class="service-text">
          <h4 tkey="services-item-last-one-title">&nbsp;</h4>
          <p tkey="services-item-last-one-text">&nbsp;</p>
        </div>
      </div>
    </div> <!-- Second row -->

  </div>
</div>