<div id="services" class="container-fluid ql-services">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 text-center">
        <h2>Legal project, HR project</h2>
        <h3>Leverage broad, clear interpretation to best serve your needs</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item">
        <span class="fa fa-globe"></span>
        <div class="service-text">
          <h4>&nbsp;Translation</h4>
          <p>Aliquam porttitor commodo metus ac tincidunt. Pellentesque quis ipsum sed sapien malesuada tincidunt sit amet a neque. In vitae vestibulum odio.</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-pencil"></span>
        <div class="service-text">
          <h4>&nbsp;Editing</h4>
          <p>In id ipsum feugiat, lacinia turpis vel, porta tortor. Nulla facilisi. Aenean molestie, mi eu porttitor convallis, neque risus posuere tellus.</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-check-square-o"></span>
        <div class="service-text">
          <h4>&nbsp;Proofreading</h4>
          <p>Nulla dapibus facilisis ante at consectetur. Cras consectetur imperdiet dolor eu ultrices. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 separator">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item">
        <span class="fa fa-eye"></span>
        <div class="service-text">
          <h4>&nbsp;Document Review</h4>
          <p>Integer rutrum commodo ligula. Nunc commodo tempor quam, sed auctor enim consectetur id. Curabitur pretium varius neque. Pellentesque mattis.</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-book"></span>
        <div class="service-text">
          <h4>&nbsp;Glossary Development</h4>
          <p>Phasellus purus nisi, tempor at leo quis, auctor consequat est. Suspendisse id finibus purus, at semper tortor. Nullam ac commodo elit.</p>
        </div>
      </div>
      <div class="col-md-4 service-item">
        <span class="fa fa-check-square-o"></span>
        <div class="service-text">
          <h4>&nbsp;Proofreading</h4>
          <p>Phasellus posuere in nisl ut viverra. Donec non scelerisque metus, porttitor consectetur dolor.</p>
        </div>
      </div>
    </div>

      <!-- <div class="col-md-10 col-md-offset-1 col-sm-10">
        <ul>
          <li>
            <span class="fa fa-globe"></span>
            <h4>&nbsp;Translation</h4>
            <p>bla bla</p>
          </li>
          <li>
            <span class="fa fa-pencil"></span>
            <h4>&nbsp;Editing</h4>
            <p>bla bla</p>
          </li>
          <li>
            <span class="fa fa-check-square-o"></span>
            <h4>&nbsp;Proofreading</h4>
            <p>bla bla</p>
          </li>
          <li>
            <span class="fa fa-globe"></span>
            <h4>&nbsp;Document Review</h4>
            <p>bla bla</p>
          </li>
          <li>
            <span class="fa fa-book"></span>
            <h4>&nbsp;Glossary Development</h4>
            <p>bla bla</p>
          </li>
        </ul>
      </div> -->

    <!-- <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="ql-circle-container-200">
          <span class="fa fa-users ql-logo-200"></span>
        </div>
        <h2>Translation Solutions</h2>
      </div>
      
      <div class="col-md-6">
        <h3>English-French and French-English</h3>
        <ul>
          <li>
            <span class="fa fa-globe"></span>
            <span>&nbsp;Translation</span>
          </li>
          <li>
            <span class="fa fa-pencil"></span>
            <span>&nbsp;Editing</span>
          </li>
          <li>
            <span class="fa fa-check-square-o"></span>
            <span>&nbsp;Proofreading</span>
          </li>
          <li>
            <span class="fa fa-globe"></span>
            <span>&nbsp;Document Review</span>
          </li>
          <li>
            <span class="fa fa-book"></span>
            <span>&nbsp;Glossary Development</span>
          </li>
        </ul>
      </div>
    </div> -->

  </div>
</div>