<!-- <div class="container">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div> -->

<footer>
  <div class="top">
    <div class="container">
      <div class="inner-container">
        <div class="row">

          <div class="col-6">
            <h3>QuidLingua</h3>
            <ul id="menu-footer-lastpass" class="menu"><li id="menu-item-159115" class="first-menu-item menu-item  menu-item-type-custom menu-item-object-custom menu-item-159115 current_page_item"><a href="/">Homepage</a></li>
<li id="menu-item-159125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159125"><a href="/features/">Features</a></li>
<li id="menu-item-83235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83235"><a href="/press-review/">Reviews</a></li>
<li id="menu-item-83245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83245"><a href="/testimonials/">Testimonials</a></li>
<li id="menu-item-83255" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83255"><a href="https://lastpass.com/download">Download</a></li>
<li id="menu-item-159135" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159135"><a href="/how-it-works/">How It Works</a></li>
<li id="menu-item-159145" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-159145 current_page_item"><a href="/go-premium/">Go Premium</a></li>
<li id="menu-item-83285" class="last-menu-item menu-item  menu-item-type-custom menu-item-object-custom menu-item-83285"><a href="https://lastpass.com/friendemail.php">Refer a Friend</a></li>
</ul>              </div>
          <div class="col-6">
            <h3>Support</h3>
            <ul id="menu-footer-support" class="menu"><li id="menu-item-83475" class="first-menu-item menu-item  menu-item-type-custom menu-item-object-custom menu-item-83475"><a href="https://lastpass.com/support.php?lpnorefresh=1">Help Center</a></li>
<li id="menu-item-83485" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83485"><a href="https://lastpass.com/my.php">My Account</a></li>
<li id="menu-item-83495" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83495"><a href="https://helpdesk.lastpass.com/">User Manual</a></li>
<li id="menu-item-83505" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83505"><a href="https://lastpass.com/support_screencasts.php">Screencasts</a></li>
<li id="menu-item-83515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83515"><a href="https://forums.lastpass.com/">Forums</a></li>
<li id="menu-item-83525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83525"><a href="https://lastpass.com/status.php">Status</a></li>
<li id="menu-item-83535" class="last-menu-item menu-item  menu-item-type-custom menu-item-object-custom menu-item-83535"><a href="https://lastpass.com/support_security.php">Security</a></li>
</ul>              </div>
          <div class="col-6">
            <h3>About Us</h3>
            <ul id="menu-footer-about-us" class="menu"><li id="menu-item-150225" class="first-menu-item menu-item  menu-item-type-post_type menu-item-object-page menu-item-150225"><a href="/about-lastpass/">Company</a></li>
<li id="menu-item-150235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150235"><a href="/jobs/">Jobs</a></li>
<li id="menu-item-150245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150245"><a href="https://blog.lastpass.com/">Blog</a></li>
<li id="menu-item-176005" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176005"><a href="/press-room">Press</a></li>
<li id="menu-item-150265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150265"><a href="/privacy-statement/">Privacy Statement</a></li>
<li id="menu-item-150275" class="last-menu-item menu-item  menu-item-type-post_type menu-item-object-page menu-item-150275"><a href="/terms-of-service/">Terms of Service</a></li>
</ul>              </div>
          <div class="col-6">
            <h3>Enterprise</h3>
            <ul id="menu-footer-enterprise" class="menu"><li id="menu-item-83655" class="first-menu-item menu-item  menu-item-type-post_type menu-item-object-page menu-item-83655"><a href="/enterprise/">Overview</a></li>
<li id="menu-item-83625" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83625"><a href="/enterprise/enterprise-features/">Features</a></li>
<li id="menu-item-83635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83635"><a href="/enterprise/security/">Security</a></li>
<li id="menu-item-83615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83615"><a href="/enterprise/why-lastpass/">Why Enterprise</a></li>
<li id="menu-item-83645" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83645"><a href="/enterprise/partners/">Partners</a></li>
<li id="menu-item-83605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83605"><a href="/enterprise/enterprise-pricing/">Pricing</a></li>
<li id="menu-item-83665" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83665"><a href="https://lastpass.com/enterprise_home.php">Admin Login</a></li>
<li id="menu-item-83675" class="last-menu-item menu-item  menu-item-type-custom menu-item-object-custom menu-item-83675"><a href="https://enterprise.lastpass.com/">Enterprise Manual</a></li>
</ul>              </div>

          <div class="col-6">
            <h3>Browsers &amp; Platforms</h3>
            <ul>
              <li><a id="mac">Mac</a></li>
              <li><a id="windows">Windows</a></li>
              <li><a id="linux">Linux</a></li>
              <li><a id="chrome">Chrome</a></li>
              <li><a id="firefox">Firefox</a></li>
              <li><a id="safari">Safari</a></li>
              <li><a id="ie">Internet Explorer</a></li>
              <li><a id="opera">Opera</a></li>
            </ul>
          </div>

        </div> <!-- row -->
      </div> <!-- inner-container -->
    </div> <!-- container -->
  </div> <!-- top -->

  <div class="bot">
    <div class="container">
      <div class="inner-container">
        <p>&copy; 2016 QuidLingua, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>

      </div> <!-- inner-container -->
    </div> <!-- container -->
  </div> <!-- bot -->
</footer>
